body {
    overflow-x: hidden;
}

h2 {
    font-size: 2em;
}

.alert {
    margin: 0rem 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    /* color: white; */
    font-size: 0.75rem;
    background-color: rgb(255, 190, 39, 0.9);
}

#createBoardModal {
    position: absolute;
    right: 0px;
    width: 400px;
    background-color: white;
    color: #222;
    height: 100vh;
    z-index: 1;

    animation-name: slidein;
    animation-duration: 300ms;
}

@keyframes slidein {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0px)
    }
}