#leftBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    padding: 1rem 0rem;
    min-width: 64px;
    height: 100%;
    position: sticky;
    left: 0px;
    animation-name: fadein-left;
    animation-duration: 300ms;
    z-index: 1;
}

.pfp {
    background-color: rgba(255,255,255);
    /* border: 3px solid white; */
    border-radius: 100rem;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    /* color: white; */
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    /* animation-name: fadein;
    animation-duration: 300ms; */
}

.hoverer {
    cursor: unset !important;
}

.toolbar {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    color: #222;

    /* animation-name: fadein; */
    /* animation-duration: 300ms; */
}

.toolbar.unselected {
    color: #ccc;
}

.hoverer > .hover {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0ms;
    border-radius: 10px !important;
    /* transition-delay: 300ms; */
}

.colorpicker {
    border: 5px solid white;
}

.widthpicker {
    padding: 1rem;
    display: grid;
    /* border: 0.5px solid #aaa; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0px;
    min-height: 35px;
    font-size: 0.75rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5rem;
}

.widthpicker > input {
    margin-left: 1rem;
}

.colorpicker > .hover {
    transform: translateX(-5px) translateY(-5px);
}

.hoverer:hover > .hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0ms;
    transition-duration: 200ms;
}

.hoverer:hover {
    position: relative;
}

a.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar + .toolbar {
    margin-top: 0.5rem;
}